@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100&family=Press+Start+2P&display=swap');
:root {
    --primary-color: #4DA9C2   ;
    --secondary-color: #8B20B3 ;
    --accent1-color: #E78300;
    --accent2-color: #a3aeac;
    --heading-font: "Press Start 2P";
    --paragraph-font: Enconde Sans, Helvetica, sans-serif;
    --headline-color-on-white: #396E94;  
    --headline-color-on-color: white; 
    --paragraph-color-on-white: #396E94; 
    --paragraph-color-on-color: white; 
    --paragraph-background-color: #396E94  ;
    --nav-link-color: #396E94;
    --nav-background-color: #D4AC0D;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #396E94;
  }
div{
    max-width: 1600px;
}
#content {
    margin: 0 auto;
}
nav a {
    font-family: Enconde Sans, Helvetica, sans-serif;
    text-align: center;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1 {
    text-align: center;
}
main section{
    text-align: center;
}
div #background{
    height: 725px;
}
body{
    background-color: #4DA9C2;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}
header {
    background-color: #a3aeac;
    display: grid;
    grid-template-columns: 150px auto;  
}

.book, .join{
    text-decoration: none;
    font-family: Enconde Sans, Helvetica, sans-serif;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    color: black;
}
footer {
    background-color: #a3aeac;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.home-title{
    color: black;
    font-family: "Press Start 2P";
    font-size: 2em;
    margin-top: 10px;
}
.msg h2{
    color: black;
    font-family: Enconde Sans, Helvetica, sans-seri;
}
.msg p {
    color: black;
    font-size: 8em;
    padding-bottom: 15px;
}
footer h3{
    color: black;
}
footer a {
    color: black;
    text-decoration: none;
}
footer a:hover {
    color: black;
}
.logo {
    width: 80px;
}
#hero-img {
    width: 100%;
}
footer h3 a:hover {
    text-decoration: underline;
}
.msg {
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;

}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.icon {
    padding-top: 10px;
}
footer .social img {
    padding-top: 15px;
}
header {
    display: grid;
    grid-template-columns: 150px auto;
}
nav {
    display: flex;
    justify-content: space-around;
}
#hero {
    display: grid;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.card-img, .mountains {
    width: 100%;
}
#background {
    grid-column: 1/11;
    grid-row: 4/9;
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }    
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }

    footer {
        margin-top: 25px;
    }
}
